/* *{
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: grid;
    width: 700px;
    height: 700px;
    background: darkgray;
    border: 1px solid black;
}
